pyttsx3>=2.90
SpeechRecognition>=3.10.0
wikipedia-api>=0.6.0
spotipy>=2.23.0
PyAutoGUI>=0.9.54
psutil>=5.9.0
pyjokes>=0.6.0
numpy>=1.24.0
opencv-python>=4.8.0
python-dotenv>=1.0.0
google-generativeai>=0.3.0
mss>=9.0.1
randfacts>=0.20.1
pywhatkit>=5.4
requests>=2.31.0
pyowm>=3.3.0
tkcalendar>=1.6.1
